
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/css/index.css">
   
    <title>Document</title>
</head>
<body>


<%- include ('partials/navbar.ejs'); %>
    


    <div class="container">
        <hr>
        <h1>Perguntas</h1>
        <hr>
        <a href="/perguntar" class="btn btn-primary">Perguntar</a>
        <% perguntas.forEach(pergunta => { %>
    <br>
    <br>
        <div class="card">
            <div class="card-body">
                <h3> <%=   pergunta.titulo %></h3>
                <h5> <%=  pergunta.descricao %></h5>
                <!-- <h6> <%=  pergunta.createdAT %></h6>  - aqui eu queria pegar a hora pra ser exibida junto com a pergunta--> 
                
            </div>
            <div class="card-footer">
                 <a href="/pergunta/<%= pergunta.id %>"><button class="btn btn-primary">Responder</button></a>   
            </div>
        </div>
    <% }) %>
</div>


 
</body> 

<%- include ('./partials/footer.ejs') %>
</html>